@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&family=Instrument+Serif:ital@0;1&family=Jost:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&family=Space+Grotesk:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&family=Instrument+Serif:ital@0;1&family=Jost:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&family=Space+Grotesk:wght@300..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
}

@layer utilities {
  .font-outfit {
    font-family: var(--font-outfit);
  }

  .font-instrument {
    font-family: var(--font-instrument);
  }
}

@layer base {
  :root {
    --font-outfit: "Outfit", sans-serif;
    --font-instrument: "Instrument Serif", serif;
    --background: oklch(0.9877 0.0057 264.5329);
    --foreground: oklch(0.2513 0.0989 274.3625);
    --card: oklch(1.0000 0 0);
    --card-foreground: oklch(0.2513 0.0989 274.3625);
    --popover: oklch(1.0000 0 0);
    --popover-foreground: oklch(0.2513 0.0989 274.3625);
    --primary: oklch(0.5680 0.2369 270.0005);
    --primary-foreground: oklch(1.0000 0 0);
    --secondary: oklch(0.9702 0 0);
    --secondary-foreground: oklch(0.2513 0.0989 274.3625);
    --muted: oklch(0.9674 0.0013 286.3752);
    --muted-foreground: oklch(0.5517 0.0138 285.9385);
    --accent: oklch(0.9634 0.0175 279.0619);
    --accent-foreground: oklch(0.2513 0.0989 274.3625);
    --destructive: oklch(0.5771 0.2152 27.3250);
    --destructive-foreground: oklch(1.0000 0 0);
    --border: oklch(0.9197 0.0040 286.3202);
    --input: oklch(1.0000 0 0);
    --ring: oklch(0.5517 0.0138 285.9385);
    --chart-1: oklch(0.8100 0.1000 252);
    --chart-2: oklch(0.6200 0.1900 260);
    --chart-3: oklch(0.5500 0.2200 263);
    --chart-4: oklch(0.4900 0.2200 264);
    --chart-5: oklch(0.4200 0.1800 266);
   --radius: 0.625rem;
    --sidebar: oklch(1.0000 0 0);
    --sidebar-foreground: oklch(0.2513 0.0989 274.3625);
    --sidebar-primary: oklch(0.2513 0.0989 274.3625);
    --sidebar-primary-foreground: oklch(0.9851 0 0);
    --sidebar-accent: oklch(0.9634 0.0175 279.0619);
    --sidebar-accent-foreground: oklch(0.2513 0.0989 274.3625);
    --sidebar-border: oklch(0.9197 0.0040 286.3202);
    --sidebar-ring: oklch(0.5517 0.0138 285.9385);
    --font-sans: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
    --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --shadow-color: #000000;
    --shadow-opacity: 0;
    --shadow-blur: 0px;
    --shadow-spread: 0px;
    --shadow-offset-x: 0;
    --shadow-offset-y: 1px;
    --letter-spacing: 0em;
    --spacing: 0.25rem;
    --shadow-2xs: 0 1px 0px 0px hsl(0 0% 0% / 0.00);
    --shadow-xs: 0 1px 0px 0px hsl(0 0% 0% / 0.00);
    --shadow-sm: 0 1px 0px 0px hsl(0 0% 0% / 0.00), 0 1px 2px -1px hsl(0 0% 0% / 0.00);
    --shadow: 0 1px 0px 0px hsl(0 0% 0% / 0.00), 0 1px 2px -1px hsl(0 0% 0% / 0.00);
    --shadow-md: 0 1px 0px 0px hsl(0 0% 0% / 0.00), 0 2px 4px -1px hsl(0 0% 0% / 0.00);
    --shadow-lg: 0 1px 0px 0px hsl(0 0% 0% / 0.00), 0 4px 6px -1px hsl(0 0% 0% / 0.00);
    --shadow-xl: 0 1px 0px 0px hsl(0 0% 0% / 0.00), 0 8px 10px -1px hsl(0 0% 0% / 0.00);
    --shadow-2xl: 0 1px 0px 0px hsl(0 0% 0% / 0.00);
    --tracking-normal: 0em;
  }
  .theme {
    --font-sans: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
    --radius: 0.625rem;
    --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
    --tracking-tight: calc(var(--tracking-normal) - 0.025em);
    --tracking-wide: calc(var(--tracking-normal) + 0.025em);
    --tracking-wider: calc(var(--tracking-normal) + 0.05em);
    --tracking-widest: calc(var(--tracking-normal) + 0.1em);
  }
  .dark {
    --background: oklch(0.1450 0 0);
    --foreground: oklch(0.9850 0 0);
    --card: oklch(0.2050 0 0);
    --card-foreground: oklch(0.9850 0 0);
    --popover: oklch(0.2690 0 0);
    --popover-foreground: oklch(0.9850 0 0);
    --primary: oklch(0.9220 0 0);
    --primary-foreground: oklch(0.2050 0 0);
    --secondary: oklch(0.2690 0 0);
    --secondary-foreground: oklch(0.9850 0 0);
    --muted: oklch(0.2690 0 0);
    --muted-foreground: oklch(0.7080 0 0);
    --accent: oklch(0.3710 0 0);
    --accent-foreground: oklch(0.9850 0 0);
    --destructive: oklch(0.7040 0.1910 22.2160);
    --destructive-foreground: oklch(0.9850 0 0);
    --border: oklch(0.2750 0 0);
    --input: oklch(0.3250 0 0);
    --ring: oklch(0.5560 0 0);
    --chart-1: oklch(0.8100 0.1000 252);
    --chart-2: oklch(0.6200 0.1900 260);
    --chart-3: oklch(0.5500 0.2200 263);
    --chart-4: oklch(0.4900 0.2200 264);
    --chart-5: oklch(0.4200 0.1800 266);
    --radius: 0.625rem;
    --sidebar: oklch(0.2050 0 0);
    --sidebar-foreground: oklch(0.9850 0 0);
    --sidebar-primary: oklch(0.4880 0.2430 264.3760);
    --sidebar-primary-foreground: oklch(0.9850 0 0);
    --sidebar-accent: oklch(0.2690 0 0);
    --sidebar-accent-foreground: oklch(0.9850 0 0);
    --sidebar-border: oklch(0.2750 0 0);
    --sidebar-ring: oklch(0.4390 0 0);
    --font-sans: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
    --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --shadow-color: oklch(0 0 0);
    --shadow-opacity: 0.1;
    --shadow-blur: 3px;
    --shadow-spread: 0px;
    --shadow-offset-x: 0;
    --shadow-offset-y: 1px;
    --letter-spacing: 0em;
    --spacing: 0.25rem;
    --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
    --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
    --shadow-sm: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
    --shadow: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
    --shadow-md: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 2px 4px -1px hsl(0 0% 0% / 0.10);
    --shadow-lg: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 4px 6px -1px hsl(0 0% 0% / 0.10);
    --shadow-xl: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 8px 10px -1px hsl(0 0% 0% / 0.10);
    --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);
  }
  body {
    letter-spacing: var(--tracking-normal);
  }
}